
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            @{Html.RenderAction("getBanner", "Home");}
        </ul>
    </div>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            @{Html.RenderAction("getCategory", "Home");}
        </div>
    </div>
</section>

