@model IEnumerable<ProjectFinal.Models.product>
@foreach (var i in Model)
{
   <li class="span3">
       <div class="product-box">
           <span class="sale_tag"></span>
           <p><a href="product_detail.html"><img src="~/Uploads/images/ladies/6.jpg" alt="" /></a></p>
           <a href="product_detail.html" class="title">@i.name</a><br />
           <a href="#" class="category">Loai</a>
           <p class="price">@i.price vnđ</p>
       </div>
   </li>
}