@model ProjectFinal.Models.category

@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/Uploads/images/pageBanner.png" alt="New products">
    <h4><span>@Model.name</span></h4>
</section>
<div class="row">
    <div class="span12">
        <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line"> <a href="@ViewBag.meta/@Model.meta/">@Model.name</a></span></span></span>
            <span class="pull-right">
                <a class="left button" href="#" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel-2" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">
                        @Html.Action("getProduct", "Product", new { id = Model.id, meta_title = Model.meta });
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

